<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
                <span title="jwt" style="margin:5px ;">add Jwt token here:</span>
                <div class="card-body text-center">

                    
                        
                        <input type="text" class=" col-lg-1 " id="size" name="" #JWT >
                        <!-- <button id="jwtToken" type="button" class="btn btn-primary btn-lg btn-block"style="margin:5px ;" value="save" (click)="decodeToken(JWT.value)" >SAVE JWT </button>     -->
            
        
        </div>  
        <div class="card-body text-center">
            <!-- <table>
                <tr *ngFor="let user of auth.decodedToken, let i=index">
                  <td>{{user}}</td>
                </tr>
              </table>      -->
                  <!-- <p>{{auth.decodedToken|json}}</p> -->

        </div>
    </div>  
</div>  