<div class="container bootstrap">
    <div class="panel-body inf-content">
        <div class="row">       
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip"
                    src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
                <ul title="Ratings" class="list-inline ratings text-center">
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <strong>Information</strong><br>
                <div class="table-responsive">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        nome
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{auth.decodedToken.nome}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        cognome
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{auth.decodedToken.cognome}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        expiration time
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{auth.decodedToken.exp *1000| date:'full'}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        issuer
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{auth.decodedToken.iss}}
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        codice
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{auth.decodedToken.codiceFiscale }}
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        Token Id
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{auth.decodedToken.idToken}}
                                </td>

                            </tr>
                            <!-- <p>{{auth.decodedToken |json|  userData:'[{"}]':'    '|  userData:'[,]':'____'}}</p> -->

                            <!-- <table>
                                <tr *ngFor="let user of auth.decodedToken, let i=index">
                                  <td>{{user}}</td>
                                </tr>
                              </table> -->

       
        
            
        
  
                               